body {
    font-display: initial;
}

a {
    text-decoration: none;
    color: rgba(210, 53, 19, 0.4);
}

a:hover {
    text-decoration: none;
    color: rgba(210, 53, 19, 1);
}

button,
.btn {
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 8px 32px;
    background: none;
    /* border-radius: 4px; */
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;
}

button:hover,
.btn:hover {
    border: 2px solid rgba(0, 0, 0, 1);
    background: black;
    color: white;
}

.btn-block {
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 8px 32px;
    background: none;
    /* border-radius: 4px; */
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: 200ms;
    cursor: pointer;
}

.btn-block:hover {
    border: 2px solid rgba(0, 0, 0, 1);
    background: black;
    color: white;
}

button:active,
button:focus .btn:active,
.btn:focus,
.btn-block:active,
.btn-block:focus {
    box-shadow: none;
    outline: none;
}

.content-gray-bg {
    background-color: #f1f1f1 !important;
}

.content-wrapper {
    margin: 0px 0px 80px 0;
}

.content-wrapper-404 {
    margin: 80px 0;
}

.content-title {
    background: rgba(0,0,0,0.6);
    margin-bottom: 40px;
    height: 400px;
    text-align: center;
}

.content-title h1{
    color: white;
}


.warning-jq-not-loaded {
    display: block;
    position: fixed;
    z-index: 99999999;
    width: 100%;
    bottom: 0;
    background-color: #b96b6b;
    color: white;
    font-size: 1.2rem;
    padding: 35px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    outline: 0;
    box-shadow: none;
}


.post-content {

}

.post-content>h1,
.post-content>h2,
.post-content>h3,
.post-content>h4,
.post-content>h5,
.post-content>h6 {
    margin-bottom: 40px;
}

.post-content>p:last-child {
    margin-bottom: 0px;
    text-align: justify;
}

.post-content>p {
    margin-bottom: 40px;
    text-align: justify;
}

.post-content table {
    width: 100%;
    margin-bottom: 40px;

}

.post-content table tr {}

.post-content table th {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: normal;
}

.post-content table td {
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.post-content ul {
    list-style: square;
    margin-bottom: 40px;
}

.post-content ol {
    margin-bottom: 40px;
}

.post-content .tags {
    margin-bottom: 40px;
}

.no-entries {
    position: relative;
    text-align: center;
    padding: 60px;
    height: 600px;
}


.archive-card-1-item {
    margin-bottom: 60px;
    padding: 40px;
    background: white;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: 200ms;
}

.archive-card-1-item:hover {
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.15);
}

.archive-card-1-item .title {
    margin: 15px 0;
}

.archive-card-1-item .title h5 {
    display: inline-block;
    font-weight: bold;
    text-align: left;
}

.archive-card-1-item .content {
    margin: 15px 0;
}

.archive-card-1-item .info {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 0px;
    text-transform: uppercase;
    font-size: 0.6rem;
}

.archive-card-1-item .thumbnail {
    width: 100%;
    height: auto;
}




.archive-list-1-item {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.archive-list-1-item .title {
    margin-bottom: 15px;
}

.archive-list-1-item .title h5 {
    display: inline-block;
    font-weight: bold;
    font-size: 26px;
    text-align: left;
}

.archive-list-1-item .content {
    margin-bottom: 25px 0;
}

.archive-list-1-item .info {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.archive-list-1-item .thumbnail img {
    width: 180px;
    height: auto;
}

.tagcloud {
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0px;
    text-align: center;
}

.tagcloud li {
    display: inline-block;
}

.tagcloud li a {
    padding: 10px 15px;
    font-size: 0.7rem;
    text-transform: uppercase;
    background: #f1f1f1;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    margin: 0 5px 5px 0px;
}

.pagination {
    display: table;
    width: 100%;
    text-align: center;

}

.pagination .page-numbers {
    display: inline-block;
    background: rgba(0, 0, 0, 0.05);
    padding: 8px 12px;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-right: 1px;
    color: rgba(0, 0, 0, 0.6);
}

.pagination .current,
.pagination .page-numbers:hover {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}