/* body */

body {
    font-display: initial;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.8);
}


/* links */

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}


/* buttons */

button,
.btn {
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 8px 32px;
    background: none;
    /* border-radius: 4px; */
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;
}

button:hover,
.btn:hover {
    border: 2px solid rgba(0, 0, 0, 1);
    background: black;
    color: white;
}

.btn-block {
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 8px 32px;
    background: none;
    /* border-radius: 4px; */
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: 200ms;
    cursor: pointer;
}

.btn-block:hover {
    border: 2px solid rgba(0, 0, 0, 1);
    background: black;
    color: white;
}

button:active,
button:focus .btn:active,
.btn:focus,
.btn-block:active,
.btn-block:focus {
    box-shadow: none;
    outline: none;
}


/* cover */

.content-cover {
    background: rgba(0, 0, 0, 0.6);
    height: 400px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-cover h1 {
    color: white;
}


/* title */

.content-title {
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
    height: 400px;
    text-align: center;
}

.content-title h1 {
    color: white;
}


/* post */

.content-post {
    padding: 80px 0;
}

.content-post-grey {
    padding: 80px 0;
    background: #f1f1f1;
}

.content-post-404 {
    padding: 80px 0;
}

.content-post-no-post {
    padding: 80px 0;
}

.post-content {}

.post-content>h1,
.post-content>h2,
.post-content>h3,
.post-content>h4,
.post-content>h5,
.post-content>h6 {
    margin-bottom: 40px;
}

.post-content>p:last-child {
    margin-bottom: 0px;
    text-align: justify;
}

.post-content>p {
    margin-bottom: 40px;
    text-align: justify;
}

.post-content table {
    width: 100%;
    margin-bottom: 40px;
}

.post-content table tr {}

.post-content table th {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: normal;
}

.post-content table td {
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

.post-content ul {
    list-style: square;
    margin-bottom: 40px;
}

.post-content ol {
    margin-bottom: 40px;
}

.post-content .tags {
    margin-bottom: 40px;
}

.pagination {
    display: table;
    width: 100%;
    text-align: center;
}

.pagination .page-numbers {
    display: inline-block;
    background: rgba(0, 0, 0, 0.05);
    padding: 8px 12px;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-right: 1px;
    color: rgba(0, 0, 0, 0.6);
}

.pagination .current,
.pagination .page-numbers:hover {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.widget-container {
    margin-bottom: 40px;
}

.widget-container ul {
    margin: 10px;
    padding: 0;
}

.widget-container ul li {
    margin: 0px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
}

.widget-container ul li:last-child {
    border-bottom: 0;
}

.widget-container ul li .date {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.33);
}

.widget-tagcloud {
    margin: 0;
    padding: 0;
}

.widget-tagcloud li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-bottom: 0;
}

.widget-tagcloud li a {
    display: inline-block;
    padding: 12px 20px;
    margin: 0px 5px 5px 0px;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.widget-tagcloud li a:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    transition: 200ms;
}

.widget-tagcloud li {
    border-bottom: 0 !important;
}

.widget-tagcloud li:last-child {
    border-bottom: 0;
}

.blog-item {
    margin-bottom: 40px;
    padding: 40px;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.blog-item .title {
    font-size: 0.8rem;
    color: rgba(0, 0 0, 0.4);
}

.blog-item .author-date {
    font-size: 0.8rem;
    color: rgba(0, 0 0, 0.4);
    margin-top: 10px;
}

.blog-item .content {
    margin-top: 10px;
}

.blog-item .read-more {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 1);
    color: black;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 10px;
}

.blog-item .read-more:hover {
    background-color: black;
    color: white;
    transition: 200ms;
}