.wp-admin .h-100 {
    height: 100%;
}

.wp-block-ef-title {
    position: relative;
    min-height: 400px;
    display: grid;
    text-align: center;
    margin-bottom: 80px;
}

.wp-block-ef-title h1 {
    color: unset;
}

.wp-block-ef-title.alignfull {
    width: 100vw;
    position: relative;
    margin-left: calc(-50vw - 9px);
    left: 50%;
    overflow: hidden;
}

.wp-block-ef-title .col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wp-block-ef-tittle .col-lg-6 {
    width: 50%;
    float: left;
}

.wp-block-ef-title .bg-image {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wp-block-ef-title .bg-color {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.wp-block-ef-title .content {
    position: relative;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.wp-block-ef-title .page-title-container-normal {}

.wp-block-ef-title .text-container-normal {}