/* Text */

.ef-admin-form-meta-box .ef-admin-input-text {
    padding: 10px 15px;
    width: 300px;
    color: rgba(0, 0, 0, 0.6) !important;
}

.ef-admin-form-meta-box .ef-admin-input-text:active,
.ef-admin-form-meta-box .ef-admin-input-text:focus {}


/* Selection */

.ef-admin-form-meta-box .ef-admin-input-selection {
    margin-bottom: 5px;
}

.ef-admin-form-meta-box .ef-admin-input-selection option {
    margin-bottom: 5px;
}


/* list */

.ef-admin-form-meta-box .ef-admin-input-list {}

.ef-admin-form-meta-box .ef-admin-input-list input[type=text] {
    padding: 10px 15px;
    width: 300px;
    color: rgba(0, 0, 0, 0.6) !important;
}

.ef-admin-form-meta-box .ef-admin-input-list .add {
    width: 371px;
    padding: 6px;
    margin: 10px 20px;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.6);
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    cursor: pointer;
}

.ef-admin-form-meta-box .ef-admin-input-list .remove {
    padding: 10px 15px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    margin: 0 0 0 3px;
    color: rgba(0, 0, 0, 0.6);
}

.ef-admin-form-meta-box .ef-admin-input-list .remove:hover {
    border: 1px solid #d03d3d;
    background-color: #d03d3d;
    color: white;
}

.ef-admin-form-meta-box .ef-admin-input-list .remove-disable {
    padding: 10px 15px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    margin: 0 0 0 3px;
    color: rgba(0, 0, 0, 0.2);
}

.ef-admin-form-meta-box .ef-admin-input-list .move {
    padding: 10px 15px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    margin: 0 0 0 3px;
    color: rgba(0, 0, 0, 0.6);
    cursor: move;
}

.ef-admin-form-meta-box .ef-admin-input-list .move:hover {
    border: 1px solid #67a9c8;
    background-color: #67a9c8;
    color: white;
}


/* image */

.ef-admin-form-meta-box .ef-admin-input-input-image {
    width: 160px;
}

.ef-admin-form-meta-box .ef-admin-input-image-set {
    width: calc(100% - 4px);
    height: 160px;
    border: 2px dashed rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ef-admin-form-meta-box .ef-admin-input-image-set.isset {
    border: 0px !important;
    width: 100%;
}

.ef-admin-form-meta-box .ef-admin-input-image-set:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 2rem;
}

.ef-admin-form-meta-box .ef-admin-input-image-remove {
    padding: 6px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.6);
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    cursor: pointer;
}

.ef-admin-form-meta-box .ef-admin-input-image-remove:hover {
    background-color: rgba(255, 0, 0, 1);
    color: white;
}


/* button group */

.ef-admin-form-meta-box .ef-admin-input-button-group a {
    display: inline-block;
    background-color: rgba(0, 0, 0, .05);
    border: 0px;
    padding: 6px 15px;
    color: rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.ef-admin-form-meta-box .ef-admin-input-button-group a i {
    font-size: 16px;
}

.ef-admin-form-meta-box .ef-admin-input-button-group a:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.ef-admin-form-meta-box .ef-admin-input-button-group a.current {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.ef-admin-form-meta-box .ef-admin-input-button-group a:first-of-type {}

.ef-admin-form-meta-box .ef-admin-input-button-group a:last-of-type {
    border-right: 0px;
}


/* checkbox */

.ef-admin-form-meta-box .ef-admin-input-checkbox {
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.ef-admin-form-meta-box .ef-admin-input-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.ef-admin-form-meta-box .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}


/* On mouse-over, add a grey background color */

.ef-admin-form-meta-box .ef-admin-input-checkbox :hover input~.checkmark {
    background-color: #1f1d1d;
}


/* When the checkbox is checked, add a blue background */

.ef-admin-form-meta-box .ef-admin-input-checkbox input:checked~.checkmark {
    background-color: #649600;
}


/* Create the checkmark/indicator (hidden when not checked) */

.ef-admin-form-meta-box .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.ef-admin-form-meta-box .ef-admin-input-checkbox input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.ef-admin-form-meta-box .ef-admin-input-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* checkbox group */

.ef-admin-form-meta-box .ef-admin-input-checkbox-group {
    overflow-y: scroll;
    overflow: hidden;
    max-height: 400px;
    padding: 15px 0;
}

.ef-admin-form-meta-box .ef-admin-input-checkbox-group .item {
    padding: 8px 0px;
}

.ef-admin-form-meta-box .ef-admin-input-checkbox-group .item:last-child {
    padding: 8px 0px;
}