/* dashboard head */

.ef-dashboard-head {
    margin-left: -20px;
    padding: 40px 0;
    background-color: white;
    margin-bottom: 40px;
    text-align: center;
}

.ef-dashboard-head .icon {
    position: relative;
    top: -11px;
    left: 0px;
    display: inline-block;
}

.ef-dashboard-head .title-description {
    display: inline-block;
    margin-left: 20px;
}


/* dashboard content */

.ef-dashboard-content {
    margin-left: -20px;
}


/* dashboard mainpage cards */
@media only screen and (min-width: 1367px) { 
    .ef-dashboard-list-cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: center;
    }
}

@media only screen and (max-width:1366px) { 
    .ef-dashboard-list-cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) { 
    .ef-dashboard-list-cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 80%;
        justify-content: center;
    }
}

.ef-dashboard-card {
    padding: 40px;
    background-color: white;
    min-height: 200px;
    text-align: center;
}

.ef-dashboard-card:hover {
    cursor: pointer;
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.ef-dashboard-card:hover h3 {
    color: white;
}


/* dashboard settigns page */

@media only screen and (min-width: 1367px) { 
    .ef-dashboard-settings-page {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 20% 60%;
        justify-content: center;
    }
}

@media only screen and (max-width:1366px) { 
    .ef-dashboard-settings-page {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 20% 60%;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) { 
    .ef-dashboard-settings-page {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 80%;
        justify-content: center;
    }
}



.ef-dashboard-settings-page .navigation {}

.ef-dashboard-settings-page .content {}


/* dashboard settings table */

.ef-admin-form-settings>h2 {
    background: white;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0px;
    border-bottom: none;
    font-size: 0.9rem;
    font-weight: bold;
}

.ef-admin-table,
.form-table {
    margin: 0 auto 20px auto;
    padding: 0px;
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.ef-admin-table .left {
    text-align: left;
}

.ef-admin-table .center {
    text-align: center;
}

.ef-admin-table tr,
.ef-dashboard-content .form-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ef-admin-table th,
.ef-dashboard-content .form-table th {
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    padding: 16px 10px;
    margin: 1px;
}

.ef-admin-table td,
.form-table td {
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.ef-dashboard-content .form-table tr:nth-child(even) td,
.ef-dashboard-content .form-table tr:nth-child(even) th {}

.ef-dashboard-content .form-table th {
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1px;
    vertical-align: middle;
    padding-left: 20px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    font-weight: normal;
}

.ef-dashboard-content pre {
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}


/* dashboard footer */

.ef-dashboard-footer {
    margin-left: -20px;
    padding: 40px;
}


/* dashboard list modules */

.ef-dashboard-list-modules .row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
}

.ef-dashboard-list-modules .row:hover {
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0.02);
}

.ef-dashboard-list-modules .row:last-child {
    border-bottom: 0px;
}

.ef-dashboard-list-modules .col {
    padding: 15px 30px;
}

.ef-dashboard-list-modules .item {
    padding: 15px 30px;
}

.ef-dashboard-list-modules .description {
    margin: 10px 0px;
    font-style: normal;
}

.ef-dashboard-list-modules .title {
    margin: 0px 0px 20px 0;
}

.ef-dashboard-list-modules .info {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
    display: none;
}

.ef-dashboard-list-modules .description {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
    display: inline;
}

.ef-dashboard-list-modules li {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: block;
    margin: 0 20px 20px 0;
    color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}


/* dashboard side navigation */

.ef-dashboard-side-navigation {
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.ef-dashboard-side-navigation .head {
    display: block;
    padding: 16px 12px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.ef-dashboard-side-navigation .navigation {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.ef-dashboard-side-navigation .navigation li {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}

.ef-dashboard-side-navigation .navigation a {
    display: block;
    padding: 16px 12px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    margin: 0px;
}

.ef-dashboard-side-navigation .navigation li a.current {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.6);
}

.ef-dashboard-side-navigation .navigation li a:active,
.ef-dashboard-side-navigation .navigation li a:focus {
    box-shadow: none;
}

.ef-dashboard-side-navigation .navigation li a .icon {
    margin-right: 5px;
}

.ef-dashboard-side-navigation .navigation li a:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.6);
}


/* dashboard update check */

.ef-update-version-check {
    background: white;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.ef-update-version-check .version-container {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.ef-update-version-check .version-container h2 {
    display: block;
    text-align: center;
    font-size: 2.5rem;
}

.ef-update-version-check .version-container p {
    display: block;
    text-align: center;
}

.ef-update-version-check .update-process-container {
    text-align: center;
}

.ef-update-version-check .no-update-aviable {
    color: green;
}