/* Text */

.ef-admin-form-settings .description {
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
}

.ef-admin-form-settings .enfi-admin-input-text {
    padding: 10px 0;
    width: 100%;
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.6) !important;
    border: unset !important;
    outline: none !important;
    box-shadow: unset !important;
}

.ef-admin-form-settings .enfi-admin-input-text:active,
.ef-admin-form-settings .enfi-admin-input-text:focus {
    box-shadow: none !important;
    outline: none !important;
    border: unset !important;
}

.ef-admin-form-settings .enfi-admin-input-text::placeholder {
    color: rgba(0, 0, 0, 0.2) !important;
}


/* Selection */

.ef-admin-form-settings .enfi-admin-input-selection {
    width: calc(100% - 10px);
    padding: 10px 0;
    border: unset !important;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
    height: unset !important;
    cursor: pointer;
}

.ef-admin-form-settings .enfi-admin-input-selection option {
    width: calc(100% - 10px);
    padding: 20px;
    border: unset !important;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
}


/* list */

.ef-admin-form-settings .enfi-admin-input-list {}

.ef-admin-form-settings .enfi-admin-input-list .field {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ef-admin-form-settings .enfi-admin-input-list input[type=text] {
    width: 80%;
    border: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6) !important;
    padding: 10px;
}

.ef-admin-form-settings .enfi-admin-input-list input::placeholder {
    color: rgba(0, 0, 0, 0.2) !important;
}

.ef-admin-form-settings .enfi-admin-input-list .add {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
    transition: 200ms;
}

.ef-admin-form-settings .enfi-admin-input-list .add:hover {
    background-color: #4f874c;
    color: white;
}

.ef-admin-form-settings .enfi-admin-input-list .remove {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
}

.ef-admin-form-settings .enfi-admin-input-list .remove:hover {
    background-color: #874c4c;
    color: white;
}

.ef-admin-form-settings .enfi-admin-input-list .remove-disable {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    display: inline-block;
    padding: 10px;
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.2);
}

.ef-admin-form-settings .enfi-admin-input-list .move {
    border-right: 1px solid rgba(117, 94, 94, 0.05);
    display: inline-block;
    padding: 10px;
    cursor: move;
    color: rgba(0, 0, 0, 0.2);
}

.ef-admin-form-settings .enfi-admin-input-list .move:hover {
    background-color: #67a9c8;
    color: white;
}


/* image */

.ef-admin-form-settings .enfi-settings-input-image {
    width: 160px;
    margin: 20px;
}

.ef-admin-form-settings .enfi-settings-image-set {
    width: calc(100% - 4px);
    height: 160px;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ef-admin-form-settings .enfi-settings-image-set.isset {
    border: 0px !important;
    width: 100%;
}

.ef-admin-form-settings .enfi-settings-image-set:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 2rem;
}

.ef-admin-form-settings .enfi-settings-image-remove {
    padding: 6px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.6);
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    cursor: pointer;
}

.ef-admin-form-settings .enfi-settings-image-remove:hover {
    background-color: rgba(255, 0, 0, 1);
    color: white;
}


/* button group */

.ef-admin-form-settings .enfi-admin-input-button-group a {
    display: inline-block;
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ef-admin-form-settings .enfi-admin-input-button-group a i {
    font-size: 16px;
}

.ef-admin-form-settings .enfi-admin-input-button-group a:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.ef-admin-form-settings .enfi-admin-input-button-group a.current {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.ef-admin-form-settings .enfi-admin-input-button-group a:first-of-type {}

.ef-admin-form-settings .enfi-admin-input-button-group a:last-of-type {
    border-right: 0px;
}


/* button group vertical*/

.ef-admin-form-settings .enfi-admin-input-button-group-vertical a {
    display: block;
    padding: 20px 20px;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
}

.ef-admin-form-settings .enfi-admin-input-button-group-vertical a i {
    font-size: 16px;
}

.ef-admin-form-settings .enfi-admin-input-button-group-vertical a:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.ef-admin-form-settings .enfi-admin-input-button-group-vertical a.current {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.ef-admin-form-settings .enfi-admin-input-button-group-vertical a:first-of-type {}

.ef-admin-form-settings .enfi-admin-input-button-group-vertical a:last-of-type {
    border-bottom: 0px;
}


/* checkbox */

.ef-admin-form-settings .enfi-admin-input-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-left: 20px;
    padding: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;
}


/* Hide the browser's default checkbox */

.ef-admin-form-settings .enfi-admin-input-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.ef-admin-form-settings .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    /* background-color: rgba(0, 0, 0, .1); */
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}


/* On mouse-over, add a grey background color */

.ef-admin-form-settings .enfi-admin-input-checkbox :hover input~.checkmark {
    background-color: #1f1d1d;
}


/* When the checkbox is checked, add a blue background */

.ef-admin-form-settings .enfi-admin-input-checkbox input:checked~.checkmark {
    background-color: rgba(0, 0, 0, 0.4);
}


/* Create the checkmark/indicator (hidden when not checked) */

.ef-admin-form-settings .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.ef-admin-form-settings .enfi-admin-input-checkbox input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.ef-admin-form-settings .enfi-admin-input-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* checkbox group */

.ef-admin-form-settings .enfi-admin-input-checkbox-group {
    overflow-y: scroll;
    overflow: hidden;
    max-height: 400px;
    padding: 15px 0;
}

.ef-admin-form-settings .enfi-admin-input-checkbox-group .item {
    padding: 8px 0px;
}

.ef-admin-form-settings .enfi-admin-input-checkbox-group .item:last-child {
    padding: 8px 0px;
}