@media only screen and (min-width: 992px) {
    .ef-cookieconsent-blur-bg {
        display: none;
        background-color: white;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.95;
        z-index: 9999999999;
    }
    .ef-cookieconsent {
        display: none;
        z-index: 99999999991;
        position: fixed;
        top: 0;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .ef-cookieconsent .title {
        padding: 20px 0;
    }
    .ef-cookieconsent .text {
        padding: 20px 0;
        text-align: justify;
    }
    .ef-cookieconsent .accept {
        text-align: center;
        display: block;
        padding: 20px 40px 20px 40px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: 200ms;
    }
    .ef-cookieconsent .accept:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

@media only screen and (max-width: 991px) {
    .ef-cookieconsent {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        display: none;
        z-index: 9999;
    }
    .ef-cookieconsent .title {
        padding: 40px 40px 20px 40px;
    }
    .ef-cookieconsent .content {
        padding: 20px 40px;
    }
    .ef-cookieconsent .accept {
        text-align: center;
        display: block;
        padding: 20px 40px 20px 40px;
        width: 100%;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
        transition: 200ms;
    }
    .ef-cookieconsent .accept:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}